<extends src='layout.html'>
  <block name='content'>
    <section id="head">
        <div class="container">
            <div class="row">
                <div class="col col-4 logohere">
                  <img src="{{ site.sitedata[0].logo }}" alt="">
                </div>
                <div class="col col-8 contright">
                  <ul>
                    <li class="email">
                      <a href="mailto:{{ site.content[0].email }}">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M12,13L2,6.76V6C2,4.89 2.89,4 4,4H20A2,2 0 0,1 22,6V6.75L12,13M22,18A2,2 0 0,1 20,20H4C2.89,20 2,19.1 2,18V9.11L4,10.36V18H20V10.36L22,9.11V18Z" />
                      </svg>
                      <span>{{ site.content[0].email }}</span>
                      </a>
                    </li>
                    <li class="phone">
                      <a href="tel:{{ site.content[0].linkcont }}">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path fill="#000000" d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
                      </svg>
                        <span class="phone_number">CALL NOW</span>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="content" style="background-image:url({{ site.content[0].sliderbg }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            <div class="row">
                <div class="col col-8 videohere">
                  <iframe src="https://player.vimeo.com/video/{{ site.content[0].videoid }}?autoplay=1&loop=1&color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col col-4 videoright">
                      <div class="detshere">
                        <span>{{ site.sitedata[0].sitename }}</span>
                        <h1 class="video-title">{{ site.about[0].abouttext1 }}</h1>
                        <p class="video-description">
                          {{ site.about[0].abouttext2 }}
                        </p>
                      </div>
                      <div class="sharevidesec">
                        <span class="sharetits">SHARE VIDEO</span>
                        <div class="addthis_inline_share_toolbox_7weq"></div>
                     </div>
                </div>
             </div>
        </div>
    </section>
    <section id="bioraphy">
      <div class="container">
        <h2 class="mt-0 mb-5 text-white text-center">Agent</h2>
        <each loop='bio of biography.biography'>
          <div class="card flex-row flex-wrap">

            <div class="card-header border-0">
              <img src='{{ bio.image !== " " ? bio.image : "https://i.pravatar.cc/500" }}' class="card-img-top img-fluid" alt="biography" >
            </div>
              <div class="card-body">
                <h3 class="card-title text-white">{{bio.fullname}}</h3>
                <div class="stars mb-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="mb-2">
                  <if condition='{{ bio.position !== " " }}'>
                    <p class="card-text text-white"><span class="text-white-50">Position:</span> {{bio.position}}</p>
                  </if>
                  <if condition='{{ bio.specialties !== " " }}'>
                    <p class="card-text text-white"><span class="text-white-50">Specialties:</span> {{bio.specialties}}</p>
                  </if>
                  <if condition='{{ bio.license !== " " }}'>
                    <p class="card-text text-white"><span class="text-white-50">License No.:</span> {{bio.license}}</p>
                  </if>
                </div>
                <if condition='{{ bio.phonenumber !== " " }}'>
                  <p class="card-text"><a href="tel:{{bio.phonenumber}}"  class="phone"><i class="fas fa-mobile-alt"></i>{{bio.phonenumber}}</a></p>
                </if>
                <if condition='{{ bio.email !== " " }}'>
                  <p class="card-text"><a href="mailto:{{bio.email}}" class="email"><i class="fas fa-envelope"></i>{{bio.email}}</a></p>
                </if>
                <if condition='{{ bio.website !== " " }}'>
                  <p class="card-text"><a href="{{bio.website}}" class="website"><i class="fas fa-globe-americas"></i>www.{{bio.website}}</a></p>
                </if>
                <div class="social my-3">
                  <if condition='{{ bio.facebook !== " " }}'>
                    <a href="{{bio.facebook}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                  </if>
                  <if condition='{{ bio.instagram !== " " }}'>
                    <a href="{{bio.instagram}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                  </if>
                  <if condition='{{ bio.pinterest !== " " }}'>
                    <a href="{{bio.pinterest}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-pinterest-p"></i></a>
                  </if>
                  <if condition='{{ bio.twitter !== " " }}'>
                    <a href="{{bio.twitter}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                  </if>
                  <if condition='{{ bio.linkedin !== " " }}'>
                    <a href="{{bio.linkedin}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                  </if>
                </div>
                <br/>
                <a class="btn btn-primary btn-white" href="#inline-bio{{bio.num}}" role="button" data-lity>Know More</a>

              </div>
            </div>

            <div id="inline-bio{{bio.num}}" style="background:#fff" class="inline lity-hide">
              <div class="details pt-4">
                <div class="px-4">
                <div class="row">
                  <div class="col-4">
                    <img src='{{ bio.image !== " " ? bio.image : "https://i.pravatar.cc/500" }}' class="avatar img-fluid" alt="biography" >
                  </div>
                  <div class="col-7">
                    <h3 class="card-title">{{bio.fullname}}</h3>
                    <div class="stars mb-2">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="mb-2">
                      <if condition='{{ bio.position !== " " }}'>
                        <p><span class="text-blue">Position:</span> {{bio.position}}</p>
                      </if>
                      <if condition='{{ bio.specialties !== " " }}'>
                        <p><span class="text-blue">Specialties:</span> {{bio.specialties}}</p>
                      </if>
                      <if condition='{{ bio.license !== " " }}'>
                        <p><span class="text-blue">License No.:</span> {{bio.license}}</p>
                      </if>
                    </div>
                  </div>
                </div>
                </div>
                <hr/>
                <div class="px-4">
                  <p class="text-blue mb-2">Biography</p>
                  <p class="pb-3">{{bio.description}}</p>
                </div>
                <div class="info bg-blue p-4">
                <if condition='{{ bio.address !== " " }}'>
                  <p><i class="fas fa-map-marker-alt"></i> {{bio.address}}</p>
                </if>
                <if condition='{{ bio.phonenumber !== " " }}'>
                  <p><a href="tel:{{bio.phonenumber}}"><i class="fas fa-mobile-alt"></i>{{bio.phonenumber}}</a></p>
                </if>
                <if condition='{{ bio.email !== " " }}'>
                  <p><a href="mailto:{{bio.email}}" class="email"><i class="fas fa-envelope"></i>{{bio.email}}</a></p>
                </if>
                <if condition='{{ bio.website !== " " }}'>
                  <p><a href="//{{bio.website}}" class="website"><i class="fas fa-globe-americas"></i>www.{{bio.website}}</a></p>
                </if>
                <div class="social my-3">
                  <if condition='{{ bio.facebook !== " " }}'>
                    <a href="{{bio.facebook}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                  </if>
                  <if condition='{{ bio.instagram !== " " }}'>
                    <a href="{{bio.instagram}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                  </if>
                  <if condition='{{ bio.pinterest !== " " }}'>
                    <a href="{{bio.pinterest}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-pinterest-p"></i></a>
                  </if>
                  <if condition='{{ bio.twitter !== " " }}'>
                    <a href="{{bio.twitter}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                  </if>
                  <if condition='{{ bio.linkedin !== " " }}'>
                    <a href="{{bio.linkedin}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                  </if>
                </div>                
              </div>
              </div>
            </div>

        </each>
      </div>
    </section>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col col-6 leftcopyright">
                  <p>Copyright {{ new Date().getFullYear() }} FlyMyCommunity.com | All Rights Reserved </p>
                </div>
                <div class="col col-6 rightcopyright">
                  <p> Designed and Powered by
                    <a href="https://webriq.com" target="_blank">WebriQ</a></p>
                </div>
            </div>
        </div>
    </div>
  </block>
</extends>
